{
  "plugins": ["syntax-dynamic-import", "transform-runtime"],
  "presets": [
    "env", 
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": ["react"]
    }
  }
}
